<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
        <title>Notificações - PlayerMatch</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" href="/public/css/stylehome.css">
        <link rel="stylesheet" href="/public/css/notification.css">
    </head>
    <body>
        <main>
            <div class="dashboard">
                <div class="logo-playermatch">
                    <img class="logo" src="/public/imagens1/PlayerMatch.png" alt="">
                </div>
                <div class="links-pt1">
                    <div class="link">
                        <button class="btn-dashboard btn-first" onclick="location.href='/home'">
                            <svg class="btn-dash2" xmlns="http://www.w3.org/2000/svg" width="48.501" height="37.056" viewBox="0 0 48.501 37.056">
                                <path id="HomeIcon" d="M17.231,35.365V23.942h7.615V35.365h9.519V20.135h5.712L21.038,3,2,20.135H7.712V35.365Z" transform="translate(3.212 -0.309)" fill="none" stroke="#3279a5" stroke-width="4"/>
                              </svg>                              
                        </button>
                    </div>
                    <div class="link">
                        <button class="btn-dashboard " onclick="location.href='/profile'">
                            <svg class="btn-dash2" xmlns="http://www.w3.org/2000/svg" width="33.296" height="33.296" viewBox="0 0 33.296 33.296">
                                <path id="ProfileIcon" d="M18.648,18.648a7.324,7.324,0,1,0-7.324-7.324A7.322,7.322,0,0,0,18.648,18.648Zm0,3.662C13.759,22.31,4,24.764,4,29.634V33.3H33.3V29.634C33.3,24.764,23.537,22.31,18.648,22.31Z" transform="translate(-2 -2)" fill="none" stroke="#3279a5" stroke-width="4"/>
                              </svg>
                        </button>
                    </div>
                    <div class="link">
                        <button class="btn-dashboard atual" onclick="location.href='/notifications'">
                            <svg class="btn-dash2" xmlns="http://www.w3.org/2000/svg" width="35.296" height="42.142" viewBox="0 0 35.296 42.142">
                                <path id="ic_notifications_active_24px" d="M55.492,19.126c0-6-3.208-11.032-8.8-12.362V5.434a2.934,2.934,0,1,0-5.868,0v1.33c-5.614,1.33-8.8,6.338-8.8,12.362v9.78l-3.912,3.912v1.956H59.4V32.818l-3.912-3.912ZM43.756,40.642a3.426,3.426,0,0,0,.782-.078,3.969,3.969,0,0,0,2.817-2.308,3.927,3.927,0,0,0,.293-1.526H39.825A3.94,3.94,0,0,0,43.756,40.642Z" transform="translate(-26.108 -0.5)" fill="none" stroke="#3279a5" stroke-width="4"/>
                              </svg>                              
                        </button>
                    </div>
                    <div class="link">
                        <button class="btn-dashboard" onclick="location.href='/message'">
                            <svg class="btn-dash2" xmlns="http://www.w3.org/2000/svg" width="33.296" height="35.193" viewBox="0 0 33.296 35.193">
                                <path id="ChatIcon" d="M28.366,2H4.93A2.9,2.9,0,0,0,2,4.846V30.462L7.859,24.77H28.366a2.9,2.9,0,0,0,2.93-2.846V4.846A2.9,2.9,0,0,0,28.366,2Z" fill="none" stroke="#3279a5" stroke-width="4"/>
                              </svg>                              
                        </button>
                    </div>
                    <div class="link">
                        <button class="btn-dashboard btn-ultimo">
                            <svg class="btn-dash2 btn-dash22" xmlns="http://www.w3.org/2000/svg" width="41.126" height="41.126" viewBox="0 0 41.126 41.126">
                                <g id="Grupo_3" data-name="Grupo 3" transform="translate(-5 -31.27)">
                                  <g id="Grupo_14" data-name="Grupo 14" transform="translate(5 31.27)">
                                    <path id="Caminho_1" data-name="Caminho 1" d="M41.126,27.833a13.324,13.324,0,0,0-9.735-12.81A15.7,15.7,0,1,0,2.178,23.686L.058,31.349l7.664-2.12a15.645,15.645,0,0,0,7.3,2.161A13.3,13.3,0,0,0,34.6,39.278l6.472,1.79L39.278,34.6a13.246,13.246,0,0,0,1.848-6.764ZM8.1,26.624,3.514,27.893l1.269-4.588-.289-.452a13.289,13.289,0,1,1,4.06,4.06ZM37.613,37.613l-3.4-.942-.455.3A10.888,10.888,0,0,1,17.514,31.3,15.733,15.733,0,0,0,31.3,17.514a10.888,10.888,0,0,1,5.664,16.24l-.3.455Zm0,0" fill="#3279a5"/>
                                    <path id="Caminho_2" data-name="Caminho 2" d="M180.5,271h2.41v2.41H180.5Zm0,0" transform="translate(-166.001 -249.232)" fill="#3279a5"/>
                                    <path id="Caminho_3" data-name="Caminho 3" d="M142.729,94.82a2.385,2.385,0,0,1-.784,1.779l-2.83,2.59v2.94h2.41V100.25l2.047-1.874A4.819,4.819,0,1,0,135.5,94.82h2.41a2.41,2.41,0,0,1,4.82,0Zm0,0" transform="translate(-124.616 -82.771)" fill="#3279a5"/>
                                  </g>
                                </g>
                              </svg>                              
                        </button>
                    </div>
                </div>
                    <svg class="div-dash" mlns="http://www.w3.org/2000/svg" width="153" height="3" viewBox="0 0 153 3">
                        <path id="Divisor" d="M0,0H153" transform="translate(0 1.5)" fill="none" stroke="#3279a5" stroke-width="3"/>
                      </svg>                      
                <div class="links-pt2">
                    <div class="link">
                        <button class="btn-dashboard" onclick="location.href='/configuration'">
                            <svg class="btn-dash2" xmlns="http://www.w3.org/2000/svg" width="31.869" height="32.462" viewBox="0 0 31.869 32.462">
                                <path id="ic_settings_24px" d="M26.69,17.626a11.09,11.09,0,0,0,.1-1.395,11.091,11.091,0,0,0-.1-1.395l3-2.348a.718.718,0,0,0,.171-.911L27.017,6.654a.715.715,0,0,0-.868-.313L22.606,7.764A10.4,10.4,0,0,0,20.2,6.369L19.66,2.6a.694.694,0,0,0-.7-.6H13.27a.694.694,0,0,0-.7.6l-.541,3.771A10.933,10.933,0,0,0,9.627,7.764L6.084,6.34a.694.694,0,0,0-.868.313L2.369,11.577a.7.7,0,0,0,.171.911l3,2.348a11.286,11.286,0,0,0-.1,1.395,11.286,11.286,0,0,0,.1,1.395l-3,2.348a.718.718,0,0,0-.171.911l2.846,4.924a.715.715,0,0,0,.868.313L9.627,24.7a10.4,10.4,0,0,0,2.405,1.395l.541,3.771a.694.694,0,0,0,.7.6h5.692a.694.694,0,0,0,.7-.6l.541-3.771A10.934,10.934,0,0,0,22.606,24.7l3.544,1.423a.694.694,0,0,0,.868-.313l2.846-4.924a.718.718,0,0,0-.171-.911ZM16.116,21.212A4.981,4.981,0,1,1,21.1,16.231,4.986,4.986,0,0,1,16.116,21.212Z" transform="translate(-0.172)" fill="none" stroke="#3279a5" stroke-width="4"/>
                              </svg>                              
                        </button>
                    </div>
                    <div class="link">
                        <button class="btn-dashboard" onclick="location.href='/'">
                            <svg class="btn-dash2 btn-dash22" xmlns="http://www.w3.org/2000/svg" width="29.995" height="29.995" viewBox="0 0 29.995 29.995">
                                <path id="ic_exit_to_app_24px" d="M14.815,23.98l2.35,2.35L25.5,18,17.164,9.665l-2.35,2.35,4.3,4.316H3v3.333H19.114ZM29.662,3H6.333A3.332,3.332,0,0,0,3,6.333V13H6.333V6.333H29.662V29.662H6.333V23H3v6.665a3.332,3.332,0,0,0,3.333,3.333H29.662a3.343,3.343,0,0,0,3.333-3.333V6.333A3.343,3.343,0,0,0,29.662,3Z" transform="translate(-3 -3)" fill="#3279a5"/>
                              </svg>                              
                        </button>
                    </div>
                </div>
            </div>
            <div class="home">
                <header class="cabecalho">
                    <div class="cabecalho12">
                        <div class="busca">
                            <input class="busca1" type="text" placeholder="Pesquisar...">
                            <img src="/public/imagens1/search.svg" class="search" alt="">
                        </div>
                        <div class="playermatch">
                            <button class="playermatch-btn" onclick="location.href='/playermatch'">
                                <h2>PlayerMatch</h2>
                                <img src="/public/imagens1/playermatch_back.png" alt="" class="playermatch-bg">
                        </button>
                        </div>
                        <div class="user">
                            <img src="/public/imagens1/user.png" class="user-png" alt="">
                            <div class="user-word">
                                <h2>Wolx</h2>
                                <h3>online</h3>
                            </div>
                        </div>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="div-cabecalho" width="100%" height="3" viewBox="0 0 2252.512 3">
                        <path id="Divisor" d="M0,0H2252.512" transform="translate(0 1.5)" fill="none" stroke="#142f40" stroke-width="3"/>
                    </svg>                  
                </header>
                <div class="notification">
                    <div class="newmessages">
                        <h2 class="tittle1">Novas Mensagens:</h2>
                        <div class="notification1">
                            <div class="div1">
                                <img src="/public/imagens1/erick.png" class="user-png2" alt="">
                                <div class="div2">
                                    <h2 class="name1">ErickPlayer</h2>
                                    <h2 class="message1">Bora jogar amanhã? To sem nada a pra fazer e a faculdade já acabou, se quiser só dar um toque!</h2>
                                </div>
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="22.691" height="22.691" viewBox="0 0 22.691 22.691">
                                <path id="ic_close_24px" d="M27.691,7.285,25.406,5l-9.06,9.06L7.285,5,5,7.285l9.06,9.06L5,25.406l2.285,2.285,9.06-9.06,9.06,9.06,2.285-2.285-9.06-9.06Z" transform="translate(-5 -5)" fill="#3d80d9"/>
                            </svg>
                        </div>
                        <div class="notification1">
                            <div class="div1">
                                <img src="/public/imagens1/silas.png" class="user-png2" alt="">
                                <div class="div2">
                                    <h2 class="name1">SilasPlayer</h2>
                                    <h2 class="message1">Bora montar um time para jogarmos o clash esse final de semana? O FlavinhoGameplay já falou que cola, se quiser te passo o link do discord e você..</h2>
                                </div>
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="22.691" height="22.691" viewBox="0 0 22.691 22.691">
                                <path id="ic_close_24px" d="M27.691,7.285,25.406,5l-9.06,9.06L7.285,5,5,7.285l9.06,9.06L5,25.406l2.285,2.285,9.06-9.06,9.06,9.06,2.285-2.285-9.06-9.06Z" transform="translate(-5 -5)" fill="#3d80d9"/>
                            </svg>
                        </div>
                        <div class="notification1">
                            <div class="div1">
                                <img src="/public/imagens1/thiago.png" class="user-png2" alt="">
                                <div class="div2">
                                    <h2 class="name1">ThiagoPlayer</h2>
                                    <h2 class="message1">Vai ir treinar com a gente hoje? Estamos te esperando Discord.</h2>
                                </div>
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="22.691" height="22.691" viewBox="0 0 22.691 22.691">
                                <path id="ic_close_24px" d="M27.691,7.285,25.406,5l-9.06,9.06L7.285,5,5,7.285l9.06,9.06L5,25.406l2.285,2.285,9.06-9.06,9.06,9.06,2.285-2.285-9.06-9.06Z" transform="translate(-5 -5)" fill="#3d80d9"/>
                            </svg>
                        </div>
                    </div>
                    <div class="matchrequest">
                        <h2 class="tittle1">Matches Request:</h2>
                        <div class="matchesrequest1">
                            <div class="request1">
                                <div class="div3">
                                    <img src="/public/imagens1/Rafa.png" class="user-png2" alt="">
                                    <h2>RafaCommitado</h2>
                                </div>
                                <div class="div4">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="svg1" width="36.7" height="26.691" viewBox="0 0 36.7 26.691">
                                        <path id="ic_person_add_24px" d="M24.355,17.346a6.673,6.673,0,1,0-6.673-6.673A6.671,6.671,0,0,0,24.355,17.346ZM9.341,14.009V9H6v5H1v3.336H6v5H9.341v-5h5V14.009Zm15.014,6.673c-4.454,0-13.346,2.235-13.346,6.673v3.336H37.7V27.355C37.7,22.917,28.809,20.682,24.355,20.682Z" transform="translate(-1 -4)" fill="#3d80d9"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22.691" height="22.691" viewBox="0 0 22.691 22.691">
                                        <path id="ic_close_24px" d="M27.691,7.285,25.406,5l-9.06,9.06L7.285,5,5,7.285l9.06,9.06L5,25.406l2.285,2.285,9.06-9.06,9.06,9.06,2.285-2.285-9.06-9.06Z" transform="translate(-5 -5)" fill="#3d80d9"/>
                                    </svg>   
                                </div>           
                            </div>
                            <div class="request1">
                                <div class="div3">
                                    <img src="/public/imagens1/flavio.png" class="user-png2" alt="">
                                    <h2>FlavinhoGameplay</h2>
                                </div>
                                <div class="div4">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="svg1" width="36.7" height="26.691" viewBox="0 0 36.7 26.691">
                                        <path id="ic_person_add_24px" d="M24.355,17.346a6.673,6.673,0,1,0-6.673-6.673A6.671,6.671,0,0,0,24.355,17.346ZM9.341,14.009V9H6v5H1v3.336H6v5H9.341v-5h5V14.009Zm15.014,6.673c-4.454,0-13.346,2.235-13.346,6.673v3.336H37.7V27.355C37.7,22.917,28.809,20.682,24.355,20.682Z" transform="translate(-1 -4)" fill="#3d80d9"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22.691" height="22.691" viewBox="0 0 22.691 22.691">
                                        <path id="ic_close_24px" d="M27.691,7.285,25.406,5l-9.06,9.06L7.285,5,5,7.285l9.06,9.06L5,25.406l2.285,2.285,9.06-9.06,9.06,9.06,2.285-2.285-9.06-9.06Z" transform="translate(-5 -5)" fill="#3d80d9"/>
                                    </svg>   
                                </div>           
                            </div>
                            <div class="request1">
                                <div class="div3">
                                    <img src="/public/imagens1/selmini.png" class="user-png2" alt="">
                                    <h2>SelminDoJavin</h2>
                                </div>
                                <div class="div4">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="svg1" width="36.7" height="26.691" viewBox="0 0 36.7 26.691">
                                        <path id="ic_person_add_24px" d="M24.355,17.346a6.673,6.673,0,1,0-6.673-6.673A6.671,6.671,0,0,0,24.355,17.346ZM9.341,14.009V9H6v5H1v3.336H6v5H9.341v-5h5V14.009Zm15.014,6.673c-4.454,0-13.346,2.235-13.346,6.673v3.336H37.7V27.355C37.7,22.917,28.809,20.682,24.355,20.682Z" transform="translate(-1 -4)" fill="#3d80d9"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22.691" height="22.691" viewBox="0 0 22.691 22.691">
                                        <path id="ic_close_24px" d="M27.691,7.285,25.406,5l-9.06,9.06L7.285,5,5,7.285l9.06,9.06L5,25.406l2.285,2.285,9.06-9.06,9.06,9.06,2.285-2.285-9.06-9.06Z" transform="translate(-5 -5)" fill="#3d80d9"/>
                                    </svg>
                                </div>           
                            </div>
                            <div class="request1">
                                <div class="div3">
                                    <img src="/public/imagens1/surjan.png" class="user-png2" alt="">
                                    <h2>Surjan1821</h2>
                                </div>
                                <div class="div4">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="svg1" width="36.7" height="26.691" viewBox="0 0 36.7 26.691">
                                        <path id="ic_person_add_24px" d="M24.355,17.346a6.673,6.673,0,1,0-6.673-6.673A6.671,6.671,0,0,0,24.355,17.346ZM9.341,14.009V9H6v5H1v3.336H6v5H9.341v-5h5V14.009Zm15.014,6.673c-4.454,0-13.346,2.235-13.346,6.673v3.336H37.7V27.355C37.7,22.917,28.809,20.682,24.355,20.682Z" transform="translate(-1 -4)" fill="#3d80d9"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22.691" height="22.691" viewBox="0 0 22.691 22.691">
                                        <path id="ic_close_24px" d="M27.691,7.285,25.406,5l-9.06,9.06L7.285,5,5,7.285l9.06,9.06L5,25.406l2.285,2.285,9.06-9.06,9.06,9.06,2.285-2.285-9.06-9.06Z" transform="translate(-5 -5)" fill="#3d80d9"/>
                                    </svg>
                                </div>           
                            </div>
                        </div>
                    </div>
                </div>
            </div>                   
        </main>
    </body>
</html>