<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
        <title>Perfil - PlayerMatch</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" href="/public/css/stylehome.css">
        <link rel="stylesheet" href="/public/css/profile.css">
    </head>
    <body>
        <main>
            <div class="dashboard">
                <div class="logo-playermatch">
                    <img class="logo" src="/public/imagens1/PlayerMatch.png" alt="">
                </div>
                <div class="links-pt1">
                    <div class="link">
                        <button class="btn-dashboard btn-first" onclick="location.href='/home'">
                            <svg class="btn-dash2" xmlns="http://www.w3.org/2000/svg" width="48.501" height="37.056" viewBox="0 0 48.501 37.056">
                                <path id="HomeIcon" d="M17.231,35.365V23.942h7.615V35.365h9.519V20.135h5.712L21.038,3,2,20.135H7.712V35.365Z" transform="translate(3.212 -0.309)" fill="none" stroke="#3279a5" stroke-width="4"/>
                              </svg>                              
                        </button>
                    </div>
                    <div class="link">
                        <button class="btn-dashboard atual" onclick="location.href='/profile'">
                            <svg class="btn-dash2" xmlns="http://www.w3.org/2000/svg" width="33.296" height="33.296" viewBox="0 0 33.296 33.296">
                                <path id="ProfileIcon" d="M18.648,18.648a7.324,7.324,0,1,0-7.324-7.324A7.322,7.322,0,0,0,18.648,18.648Zm0,3.662C13.759,22.31,4,24.764,4,29.634V33.3H33.3V29.634C33.3,24.764,23.537,22.31,18.648,22.31Z" transform="translate(-2 -2)" fill="none" stroke="#3279a5" stroke-width="4"/>
                              </svg>
                        </button>
                    </div>
                    <div class="link">
                        <button class="btn-dashboard" onclick="location.href='/notifications'">
                            <svg class="btn-dash2" xmlns="http://www.w3.org/2000/svg" width="35.296" height="42.142" viewBox="0 0 35.296 42.142">
                                <path id="ic_notifications_active_24px" d="M55.492,19.126c0-6-3.208-11.032-8.8-12.362V5.434a2.934,2.934,0,1,0-5.868,0v1.33c-5.614,1.33-8.8,6.338-8.8,12.362v9.78l-3.912,3.912v1.956H59.4V32.818l-3.912-3.912ZM43.756,40.642a3.426,3.426,0,0,0,.782-.078,3.969,3.969,0,0,0,2.817-2.308,3.927,3.927,0,0,0,.293-1.526H39.825A3.94,3.94,0,0,0,43.756,40.642Z" transform="translate(-26.108 -0.5)" fill="none" stroke="#3279a5" stroke-width="4"/>
                              </svg>                              
                        </button>
                    </div>
                    <div class="link">
                        <button class="btn-dashboard" onclick="location.href='/message'">
                            <svg class="btn-dash2" xmlns="http://www.w3.org/2000/svg" width="33.296" height="35.193" viewBox="0 0 33.296 35.193">
                                <path id="ChatIcon" d="M28.366,2H4.93A2.9,2.9,0,0,0,2,4.846V30.462L7.859,24.77H28.366a2.9,2.9,0,0,0,2.93-2.846V4.846A2.9,2.9,0,0,0,28.366,2Z" fill="none" stroke="#3279a5" stroke-width="4"/>
                              </svg>                              
                        </button>
                    </div>
                    <div class="link">
                        <button class="btn-dashboard btn-ultimo">
                            <svg class="btn-dash2 btn-dash22" xmlns="http://www.w3.org/2000/svg" width="41.126" height="41.126" viewBox="0 0 41.126 41.126">
                                <g id="Grupo_3" data-name="Grupo 3" transform="translate(-5 -31.27)">
                                  <g id="Grupo_14" data-name="Grupo 14" transform="translate(5 31.27)">
                                    <path id="Caminho_1" data-name="Caminho 1" d="M41.126,27.833a13.324,13.324,0,0,0-9.735-12.81A15.7,15.7,0,1,0,2.178,23.686L.058,31.349l7.664-2.12a15.645,15.645,0,0,0,7.3,2.161A13.3,13.3,0,0,0,34.6,39.278l6.472,1.79L39.278,34.6a13.246,13.246,0,0,0,1.848-6.764ZM8.1,26.624,3.514,27.893l1.269-4.588-.289-.452a13.289,13.289,0,1,1,4.06,4.06ZM37.613,37.613l-3.4-.942-.455.3A10.888,10.888,0,0,1,17.514,31.3,15.733,15.733,0,0,0,31.3,17.514a10.888,10.888,0,0,1,5.664,16.24l-.3.455Zm0,0" fill="#3279a5"/>
                                    <path id="Caminho_2" data-name="Caminho 2" d="M180.5,271h2.41v2.41H180.5Zm0,0" transform="translate(-166.001 -249.232)" fill="#3279a5"/>
                                    <path id="Caminho_3" data-name="Caminho 3" d="M142.729,94.82a2.385,2.385,0,0,1-.784,1.779l-2.83,2.59v2.94h2.41V100.25l2.047-1.874A4.819,4.819,0,1,0,135.5,94.82h2.41a2.41,2.41,0,0,1,4.82,0Zm0,0" transform="translate(-124.616 -82.771)" fill="#3279a5"/>
                                  </g>
                                </g>
                              </svg>                              
                        </button>
                    </div>
                </div>
                    <svg class="div-dash" mlns="http://www.w3.org/2000/svg" width="153" height="3" viewBox="0 0 153 3">
                        <path id="Divisor" d="M0,0H153" transform="translate(0 1.5)" fill="none" stroke="#3279a5" stroke-width="3"/>
                      </svg>                      
                <div class="links-pt2">
                    <div class="link">
                        <button class="btn-dashboard" onclick="location.href='/configuration'">
                            <svg class="btn-dash2" xmlns="http://www.w3.org/2000/svg" width="31.869" height="32.462" viewBox="0 0 31.869 32.462">
                                <path id="ic_settings_24px" d="M26.69,17.626a11.09,11.09,0,0,0,.1-1.395,11.091,11.091,0,0,0-.1-1.395l3-2.348a.718.718,0,0,0,.171-.911L27.017,6.654a.715.715,0,0,0-.868-.313L22.606,7.764A10.4,10.4,0,0,0,20.2,6.369L19.66,2.6a.694.694,0,0,0-.7-.6H13.27a.694.694,0,0,0-.7.6l-.541,3.771A10.933,10.933,0,0,0,9.627,7.764L6.084,6.34a.694.694,0,0,0-.868.313L2.369,11.577a.7.7,0,0,0,.171.911l3,2.348a11.286,11.286,0,0,0-.1,1.395,11.286,11.286,0,0,0,.1,1.395l-3,2.348a.718.718,0,0,0-.171.911l2.846,4.924a.715.715,0,0,0,.868.313L9.627,24.7a10.4,10.4,0,0,0,2.405,1.395l.541,3.771a.694.694,0,0,0,.7.6h5.692a.694.694,0,0,0,.7-.6l.541-3.771A10.934,10.934,0,0,0,22.606,24.7l3.544,1.423a.694.694,0,0,0,.868-.313l2.846-4.924a.718.718,0,0,0-.171-.911ZM16.116,21.212A4.981,4.981,0,1,1,21.1,16.231,4.986,4.986,0,0,1,16.116,21.212Z" transform="translate(-0.172)" fill="none" stroke="#3279a5" stroke-width="4"/>
                              </svg>                              
                        </button>
                    </div>
                    <div class="link">
                        <button class="btn-dashboard" onclick="location.href='/'">
                            <svg class="btn-dash2 btn-dash22" xmlns="http://www.w3.org/2000/svg" width="29.995" height="29.995" viewBox="0 0 29.995 29.995">
                                <path id="ic_exit_to_app_24px" d="M14.815,23.98l2.35,2.35L25.5,18,17.164,9.665l-2.35,2.35,4.3,4.316H3v3.333H19.114ZM29.662,3H6.333A3.332,3.332,0,0,0,3,6.333V13H6.333V6.333H29.662V29.662H6.333V23H3v6.665a3.332,3.332,0,0,0,3.333,3.333H29.662a3.343,3.343,0,0,0,3.333-3.333V6.333A3.343,3.343,0,0,0,29.662,3Z" transform="translate(-3 -3)" fill="#3279a5"/>
                              </svg>                              
                        </button>
                    </div>
                </div>
            </div>
            <div class="home">
                <header class="cabecalho">
                    <div class="cabecalho12">
                        <div class="busca">
                            <input class="busca1" type="text" placeholder="Pesquisar...">
                            <img src="/public/imagens1/search.svg" class="search" alt="">
                        </div>
                        <div class="playermatch">
                            <button class="playermatch-btn" onclick="location.href='/playermatch'">
                                <h2>PlayerMatch</h2>
                                <img src="/public/imagens1/playermatch_back.png" alt="" class="playermatch-bg">
                        </button>
                        </div>
                        <div class="user">
                            <img src="/public/imagens1/user.png" class="user-png" alt="">
                            <div class="user-word">
                                <h2>Wolx</h2>
                                <h3>online</h3>
                            </div>
                        </div>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="div-cabecalho" width="100%" height="3" viewBox="0 0 2252.512 3">
                        <path id="Divisor" d="M0,0H2252.512" transform="translate(0 1.5)" fill="none" stroke="#142f40" stroke-width="3"/>
                    </svg>                  
                </header>
                <div class="container-fluid home-fluid">
                    <div class="row">
                        <div class="col-xxl-4">
                            <div class="profile-user">
                                <img src="/public/imagens1/user.png" class="user-img" alt="">
                                <svg xmlns="http://www.w3.org/2000/svg" class="edit-profile" width="30.347" height="28.991" viewBox="0 0 30.347 28.991">
                                    <path id="ic_create_24px" d="M3,25.158v5.831H8.831l17.2-17.2L20.2,7.961ZM30.536,9.283a1.548,1.548,0,0,0,0-2.192L26.9,3.452a1.548,1.548,0,0,0-2.192,0L21.86,6.3l5.831,5.831,2.845-2.845Z" transform="translate(-3 -2.997)" fill="#3d80d9"/>
                                    <path id="Caminho_45" data-name="Caminho 45" d="M2734.253,1661.244H2764.6" transform="translate(-2734.253 -1633.253)" fill="none" stroke="#3d80d9" stroke-width="2"/>
                                  </svg>
                                <h2 class="username"> Wolx </h2>
                                <svg xmlns="http://www.w3.org/2000/svg" class="profile-barra" width="354" height="8" viewBox="0 0 354 8">
                                    <rect id="Retângulo_15" data-name="Retângulo 15" width="354" height="8" rx="4" fill="#0b1c26"/>
                                    <rect id="Retângulo_16" data-name="Retângulo 16" width="269" height="8" rx="4" fill="#3d80d9"/>
                                </svg>
                                <div class="level">
                                    <p>Nível 5</p>
                                    <p>520 / 600</p>
                                </div>
                                <div class="gamestats">
                                    <h2><span class="namespan">Nome:</span>  Erick Gustavo</h2>
                                    <h2 class="h2stats"><span class="namespan">Rotas:</span> AD Carry / Topo</h2>
                                    <h2 class="h2stats"><span class="namespan">Divisão:</span> Ouro II</h2>
                                </div>
                                <div class="game">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="31.494" height="51.002" viewBox="0 0 31.494 51.002">
                                        <path id="ic_chevron_left_24px" d="M39.494,11.993,33.5,6,8,31.5,33.5,57l5.993-5.993L20.028,31.5Z" transform="translate(-8 -6)" fill="#0b1c26"/>
                                    </svg>
                                    <img src="/public/imagens2/elo.png" class="elo" alt="">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="31.494" height="51.002" viewBox="0 0 31.494 51.002">
                                        <path id="ic_chevron_right_24px" d="M14.583,6,8.59,11.993,28.056,31.5,8.59,51.009,14.583,57l25.5-25.5Z" transform="translate(-8.59 -6)" fill="#0b1c26"/>
                                      </svg>
                                </div>
                                <h2 class="league">League of Legends</h2>
                            </div>
                        </div>
                        <div class="col-xxl-8">
                            <div class="row">
                                <div class="gamestats1">
                                    <div class="gamestats-word">
                                        <h2 class="h2-gamestats1"><span class="span1">Taxa de Vitórias:</span><span class="span2"> 57%</span></h2>
                                        <h2><span class="span1">Topo:</span><span class="span2"> 57%</span></h2>
                                        <h2><span class="span1">Selva:</span><span class="span3"> 43%%</span></h2>
                                        <h2><span class="span1">Meio:</span><span class="span3"> 48%%</span></h2>
                                        <h2><span class="span1">AD Carry:</span><span class="span2"> 64%%</span></h2>
                                        <h2><span class="span1">Suporte:</span><span class="span2"> --</span></h2>
                                    </div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="3" class="divisor22" height="236.8" viewBox="0 0 3 236.8">
                                        <path id="Divisor" d="M-39.233,0h236.8" transform="translate(1.5 39.233) rotate(90)" fill="none" stroke="#3279a5" stroke-width="3"/>
                                    </svg>                                      
                                    <div class="champion">
                                        <h2 class="bestchamp">Melhor Campeão:</h2>
                                        <img src="/public/imagens1/yasuo.png" class="user-png3" alt="">
                                    </div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="3" class="divisor22" height="236.8" viewBox="0 0 3 236.8">
                                        <path id="Divisor" d="M-39.233,0h236.8" transform="translate(1.5 39.233) rotate(90)" fill="none" stroke="#3279a5" stroke-width="3"/>
                                    </svg>                                      
                                    <div class="grafico">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="358.617" height="249.733" viewBox="0 0 358.617 249.733">
                                        <path id="Divisor" d="M-39.233,0H187.5" transform="translate(78 39.233) rotate(90)" fill="#3d80d9" stroke="#3d80d9" stroke-width="3"/>
                                        <path id="Divisor-2" data-name="Divisor" d="M-39.233,0H253.033" transform="translate(98.833 207.4)" fill="#3d80d9" stroke="#3d80d9" stroke-width="3"/>
                                        <path id="Caminho_44" data-name="Caminho 44" d="M3600,1845.667s71.2-5.134,91.467-22.2,33.733-130.8,65.2-104.667,36.267,22.933,46.4,16.533S3831.6,1670,3853.6,1672s26.8,3.067,26.8,3.067" transform="translate(-3522 -1638.267)" fill="none" stroke="#b7e7f3" stroke-width="2"/>
                                        <text id="AMA" transform="translate(0 171.733)" fill="#3d80d9" font-size="25" font-family="Raleway"><tspan x="0" y="24">AMA</tspan></text>
                                        <text id="Tempo_de_partida" data-name="Tempo de partida" transform="translate(115 219.733)" fill="#3d80d9" font-size="25" font-family="Raleway"><tspan x="0" y="24">Tempo de partida</tspan></text>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div>
                                    <h2 class="skinsbests">Skins favoritas:</h2>
                                    <div class="skins">
                                        <div class="skins1"></div>
                                        <div class="skins2"></div>
                                        <div class="skins3"></div>
                                        <div class="skins4"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>          
            </div>                   
        </main>
    </body>
</html>